@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: local("Roboto"),
    url("../fonts/roboto.woff") format("woff"),
    url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: local("Roboto"),
    url("../fonts/robotomedium.woff") format("woff"),
    url("../fonts/robotomedium.woff2") format("woff2");
}

/* GENERAL STYLES */
body {
  min-width: 900px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

h3 {
  font-size: 35px;
  line-height: 1em;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}

.link-default {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link-default:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.link-white {
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.link-white:hover {
  color: #e84d37;
  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.63em;
  padding-bottom: 0.63em;
  padding-left: 1.24em;
  padding-right: 1.24em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  color: #fff;
  border: 0;
}

.btn-red {
  background-color: #ed5a3d;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, .54);
}

.btn-red:hover {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 1px 2px #ac1000;
}

.btn-red:active {
  color: #fceeec;
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.btn-big {
  font-size: 32px;
  padding-bottom: 0.67em;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
}

.btn-big:hover {
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.btn-big:active {
  box-shadow: inset 0 2px 2px #942718;
}

.btn-tight {
  border-radius: 60px/75px;
}

.btn-white {
  margin-top: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 28px;
  padding-right: 26px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
}

.btn-white:hover,
.btn-white:active {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 28px;
  color: #323232; 
}

.btn-white:hover {
  background-color: #ffffff;
}

.btn-white:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
  border: 0;
}

.social-btn {
  display: block;
  width: 32px;
  height: 32px;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-btn svg {
  position: relative;
  z-index: -1;
}

.social-btn:hover,
.social-btn:active {
}

.social-btn:hover {
  color: #ffffff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.71);
}

.social-btn:active {
  color: #eaeaea;
  box-shadow:
    0 0 0 4px rgba(255, 255, 255, 0.7),
    inset 0 2px 1px #888888;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.bg-transition,
.bg-transition::before {
  transition: background 0.5s ease-in; 
}
/* END GENERAL STYLES */

/* GENERAL FORM STYLES */
.input-field {
  margin-bottom: 20px;
}

.input-default {
  padding: 10px 15px;
  width: 100%;
  height: 44px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  outline: 0;
}

.input-default:hover,
.input-default:focus {
  padding: 10px 14px;
  border-width: 2px;
}

.input-default:focus {
  border-color: rgba(46,136,228, 0.52);
}

.label-box {
  position: relative;
}

.label-box label {
  position: absolute;
  top: -34px;
  left: 14px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  cursor: text;
  transition-duration: 0.2s;
}

.input-default:focus ~ .label-box label,
/*.input-default:valid ~ .label-box label,*/
.input-default:not([value=""]) ~ .label-box label {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  --webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
}

.input-default:not(:focus) ~ .label-box label {
  color: #999999;
}
/* END GENERAL FORM STYLES */

.inner-page {
  position: relative;
  z-index: 0;
  background-color: #849d8f;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  font-size: 0;
}

.main-header {
  padding-top: 9px;
}

.header-logo {
  float: left;
  margin-left: 2.25%;
  width: 154px;
  height: 64px;
}

.header-logo-img {
  margin-left: -6px;
  width: 154px;
  height: 64px;
}

.header-nav {
  float: left;
}

.header-menu {
  padding: 0;
  margin-top: 14px;
  margin-left: 10px;
  font-size: 0;
}

.menu-item {
  position: relative;
  display: inline-block;
  vertical-align: top;  
}

.menu-item .active {
  cursor: default;
  color: #ffffff;
  background-color: #d07058;
  pointer-events: none;
}

.menu-item .menu-item-link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding: 7px 14px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
}

.menu-item .menu-item-link::after {
  content: "";
  display: block;
  margin-top: -1px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-item .current {
  background-color: #d07058;
}

.menu-item .current::after {
  content: none;
}

.menu-item:hover .menu-item-link {
  color: #333333;
  background-color: #ffffff;
  border: 0;
}

.menu-item:hover .menu-item-link::after {
  content: none;
}

.menu-item:hover .menu-item-link:active {
  color: #333333;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.menu-item:hover .header-submenu {
  display: block;
}

.header-submenu {
  position: absolute;
  display: none;
  z-index: 2;
  left: -6px;
  padding-left: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.header-submenu::before {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  width: 100%;
  height: 5px;
}

.header-submenu .latest {
  font-weight: bold;
}

.header-submenu .latest::after {
  content: "";
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 9px;
  margin-right: 9px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.submenu-item {
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.submenu-item-link {
  display: block;
  padding: 6px 21px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  white-space: nowrap;
}

.submenu-item-link:not(.active):hover {
  background-color: #fbded7;
}

.submenu-item-link:not(.active):active {
  background-color: #f6b5a5;
}

.header-actions {
  float: right;
  margin-right: 2.25%;
  margin-top: 14px;
  font-size: 0;
}


.header-action {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  margin-right: 10px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 16px;
  cursor: pointer;
}

.header-action>span {
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
}

.header-action.search:hover,
.header-action.login:hover,
.header-action.full-cart:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.header-action.search {
  width: 32px;
}

.header-action.login {
  padding-left: 44px;
  padding-right: 16px;;
}

.header-action.cart {
  padding-left: 44px;
  padding-right: 34px;
  margin-right: 0;
}

.header-action.full-cart {
  padding-right: 16px;
}

.header-action .search-icon,
.header-action .login-icon,
.header-action .cart-empty-icon {
  position: absolute;
  fill: #fff;
}

.header-action .cart-full-icon {
  position: absolute;
}

.header-action .search-icon {
  top: 7px;
  left: 7px;
  width: 17px;
  height: 17px;
}

.header-action .login-icon {
  top: 6px;
  left: 16px;
  width: 20px;
  height: 19px;
}

.header-action .cart-empty-icon,
.header-action .cart-full-icon {
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
}

.header-action.empty-cart {
  cursor: default;
}

.header-action.search:hover .search-icon,
.header-action.login:hover .login-icon {
  fill: #343434;
}

.header-action:hover .search-form,
.header-action:hover .login-form,
.header-action:hover .cart-popup {
  display: block;
}

.header-action .search-form,
.header-action .login-form,
.header-action .cart-popup {
  display: none;
  position: absolute;
  z-index: 4;
  top: 36px;
  right: -2px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.header-action .search-form {
  width: 314px;
  padding: 20px 15px 0;
}

.header-action .login-form {
  width: 241px;
  padding: 20px 17px 19px 19px;
}

.header-action .cart-popup {
  width: 512px;
  margin-right: 2px;
  padding-top: 2px;
  padding-bottom: 21px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 13px;
  line-height: 16px;
  cursor: default;
}

.header-action .search-form::before,
.header-action .login-form::before,
.header-action .cart-popup::before {
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  width: 100%;
  height: 10px;
}

.header-action label {
  font-size: 14px;
  line-height: 24px;
}

.login-links {
  text-align: left;
  margin-top: 3px;
  width: 121px;

}

.login-links .link-white {
  font-size: 13px;
  line-height: 0px;
}

.cart-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 19px;
}

.cart-table-column {
  vertical-align: baseline;
  padding: 0;
}

.cart-item-delete {
  vertical-align: top;
  padding-top: 8px;
  padding-right: 12px;
}

.cart-item-delete .btn-cross {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.cart-item-delete .btn-cross:focus {
  outline: 0;
}

.cart-item-delete .btn-cross:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cart-item-delete .btn-cross:before,
.cart-item-delete .btn-cross:after {
  content: " ";
  position: absolute;
  left: 1px;
  top: 7px;
  width: 14px;
  height: 1px;
  background-color: #333;
}

.cart-item-delete .btn-cross:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cart-item-delete .btn-cross:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cart-item-image {
  padding-right: 13px;
}

.cart-item-img {
  vertical-align: middle;
  width: 33px;
  height: 33px;
}

.cart-item-title {
  width: 100%;
  padding-right: 10px;
}

.cart-item-count {
  min-width: 112px;
  padding-right: 10px;
  text-align: right;
}

.cart-item-count>span {
  color: #999999;
}

.cart-item-price {
  min-width: 67px;
  padding-right: 20px;
  text-align: right;
}

.cart-items-total {
  padding-top: 12px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
  border-top: 1px solid #cacac7;
}

.cart-popup .btn {
  padding: 14px 15px;
  margin-top: -5px;
}

.schedule-and-phone {
  position: absolute;
  right: 2.25%;
  top: 64px;
  font-weight: bold;
  text-align: right;
}

.schedule-and-phone .schedule {
  font-size: 14px;
  line-height: 16px;
}

.schedule-and-phone .phone {
  line-height: 18px;
  font-size: 22px;
}

.main-content {
  position: relative;
  margin-bottom: 18px;
}

.breadcrumbs,
.inner-page-title,
.filters,
.catalog-items {
  margin-left: 2.25%;
  margin-right: 2.25%;
}

.catalog-items {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs {
  margin-top: 23px;
  margin-bottom: 1px;
  padding: 0;
}

.breadcrumb {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 21px;
}

.breadcrumb:not(.current)::after {
  content: "»";
  position: absolute;
  top: -1px;
  right: -15px;
  font-size: 16px;
}

.inner-page-title {
  margin-top: 0;
  margin-bottom: 26px;
}

.filters {
  width: 880px;
  margin-bottom: 24px;
}

.filter {
  float: left;
  margin-left: 0;
  margin-right: 16px;
  margin-bottom: 16px;
  border: 0;
}

.filter-title {
  margin-bottom: 6px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-label {
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.filter-wrapper {
  position: relative;
  min-height: 36px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter-fatness .filter-label,
.filter-fillings .filter-label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 9px;
  margin-right: 20px;
  padding-left: 30px;
}

.filter-fillings .filter-label {
  margin-right: 22px;
  padding-left: 32px;
}

.filter-fatness .filter-label:last-child,
.filter-fillings .filter-label:last-child {
  margin-right: 0
}

.filter-fatness .filter-label::before,
.filter-fillings .filter-label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: solid 1px #f8f7f4;
}

.filter-fatness .filter-label::before {
  top: -1px;
  left: 0px;
  border-radius: 50%;
}

.filter-fillings .filter-label::before {
  top: -1px;
  left: 1px;
  border-radius: 4px;
}

.filter-fatness .filter-input:checked + .filter-label,
.filter-fatness .filter-input:checked + .filter-label::before,
.filter-fatness .filter-input:checked + .filter-label::after,
.filter-fatness .filter-input:disabled + .filter-label,
.filter-fillings .filter-input:disabled + .filter-label,
.filter-fatness .filter-input:disabled + .filter-label:hover::after,
.filter-fillings .filter-input:disabled + .filter-label:hover::after {
  cursor: default;
}

.filter-fatness .filter-input:disabled + .filter-label::before,
.filter-fillings .filter-input:disabled + .filter-label::before {
  top: -1px;
  left: 0px;
  border: solid 1px rgba(248, 247, 244, 0.4);
}

.filter-fatness .filter-input:checked:disabled + .filter-label::after {
  background-color: rgba(248, 247, 244, 0.4);
}

.filter-fillings .filter-input:checked:disabled + .filter-label::after {
  left: 5px;
  border-color: rgba(248, 247, 244, 0.4);
}

.filter-fatness .filter-label:hover::before {
  top: -2px;
  left: -1px;
  border-width: 2px;
}

.filter-fillings .filter-label:hover::before {
  top: -2px;
  left: 0px;
  border-width: 2px;
}

.filter-fatness .filter-input:checked + .filter-label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f8f7f4;
}

.filter-fillings .filter-input:checked + .filter-label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 4px;
  width: 8px;
  height: 4px;
  border: 3px solid #ffffff;
  border-top-style: none;
  border-right-style: none;
  --webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.filter-input {
  display: none;
}

.filter-sort {
  position: relative;
}

.filter-sort-wrapper::after {
  content: "";
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-style: solid;
  border-width: 5px 3px 0 4px;
  border-color: #ffffff transparent transparent transparent;
}

.filter-sort-wrapper:hover::after {
  border-top-color: #333;
}

.filter-sort-select::-ms-expand {
  display: none;
}

.filter-sort-select {
  display: block;
  padding: 9px 32px 9px 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.filter-sort-select:hover {
  color: #323232;
  background-color: #fff;
}

.filter-sort-select option {
  color: #323232;
}

.filter-price {
  width: 218px;
}

.filter-price .range-min,
.filter-price .range-max {
  padding: 0;
  width: 27px;
  color: #fff;
  border: none;
  background-color: transparent;
  outline: none;
}

.filter-price .range-controls {
  overflow: hidden;
  cursor: pointer;
}

.filter-price .scale {
  margin-top: 16px;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
}

.filter-price .bar {
  height: 4px;
  width: 98px;
  margin-left: 35px;
  background-color: rgb(248, 247, 244);
}

.filter-price .toggle {
  position: absolute;
  top: 8px;
  left: 44px;
  width: 20px;
  height: 20px;
  background-color: #f8f7f4;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.filter-price .toggle:hover {
  --webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.filter-price .min-toggle {
  left: 34px;
}

.filter-price .max-toggle {
  left: 132px;
}

.filter-fatness {
  margin-right: 0;
}

.slider {
  position: relative;
  margin-left: 2.25%;
  margin-right: 2.25%;
  margin-bottom: 41px;
  padding-top: 319px;
  text-align: center;
}

.slider::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -73px;
  left: 0;
  width: 100%;
  height: 1079px;
  background-repeat: no-repeat;
  background-position: center top;
}

.slider input[type=radio] {
    display: none;
}

.slider-controls {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 22px;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin-right: 8px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-inner {
  position: relative;
  z-index: 1;
}

.slider-inner > div {
  display: none;
}

#brulee-and-raspberry:checked ~ .inner-page label[for="brulee-and-raspberry"],
#chocolate-and-lemon:checked ~ .inner-page label[for="chocolate-and-lemon"],
#cream-and-strawberry:checked ~ .inner-page label[for="cream-and-strawberry"] {
  background-color: #fff;
}

#brulee-and-raspberry:checked ~ .inner-page .slide-brulee-and-raspberry,
#chocolate-and-lemon:checked ~ .inner-page .slide-chocolate-and-lemon,
#cream-and-strawberry:checked ~ .inner-page .slide-cream-and-strawberry {
  display: block;
}

#brulee-and-raspberry:checked ~ .inner-page {
  background-color: #849d8f;
}

#chocolate-and-lemon:checked ~ .inner-page {
  background-color: #8996a6;
}

#cream-and-strawberry:checked ~ .inner-page {
  background-color: #9d8b84;
}

#brulee-and-raspberry:checked ~ .inner-page .slider::before {
  background-image: url("../img/slider/brulee-and-raspberry-bg.png");
}

#chocolate-and-lemon:checked ~ .inner-page .slider::before {
  background-image: url("../img/slider/chocolate-and-lemon-bg.png");
}

#cream-and-strawberry:checked ~ .inner-page .slider::before {
  background-image:  url("../img/slider/cream-and-strawberry-bg.png");
}

.slide-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 690px;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-raspberry {
  background-color: #650f25;
  background-image: url("../img/banners/raspberry-bg.jpg");
  background-position: right top;
}

.banner-chocolate {
  background-color: #5d3a2c;
  background-image: url("../img/banners/chocolate-bg.jpg");
  background-position: left top;
}

.banner-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.banner-text {
  min-height: 70px;
  margin-top: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.inner-columns {
  margin-left: 2.25%;
  margin-right: 2.25%;
  margin-bottom: 40px;
}

.inner-column-left,
.inner-column-right {
  float: left;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 1.65%;
  padding-right: 1.65%;
  width: 45.56%;
  border-radius: 15px;
}

.inner-column-left {
  margin-right: 2.28%;
}

.hit-items {
  margin-left: 2.25%;
  margin-right: 2.25%;
  font-size: 0;
}

.hit-items .catalog-item-image::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 61px;
  height: 61px;
  background: #ffffff url("../img/hit-label.png") no-repeat center;
  border-radius: 50%;
}

.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 2.2673%;
  margin-bottom: 29px;
  width: 23.3%;
}

.catalog-item::after {
  content: "";
  display: none;
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -55%;
  padding-bottom: 75px;
  width: 110%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .1);
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover::after {
  z-index: 4;
}

.catalog-item:hover::after,
.catalog-item:hover .catalog-item-button {
  display: block;
}

.catalog-item:hover .catalog-item-image,
.catalog-item:hover .catalog-item-title,
.catalog-item:hover .catalog-item-button {
  z-index: 5;
}

.catalog-item:hover .link-default:not(:hover) {
  border-bottom: 0;
}

.catalog-item-image {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 13px;
  padding: 0;
}

.catalog-item-image-link,
.catalog-item-image-link:hover {
  display: block;
  position: relative;
  min-height: 200px;
  max-height: 267px;
  height: 22.25vw;
  border: 0;
}

.catalog-item-price {
  position: absolute;
  bottom: 8px;
  margin: 0;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.catalog-item-price span {
  position: relative;
  font-size: 45px;
  padding-right: 35px;
}

.catalog-item-price .rub-icon {
  position: absolute;
  top: 12px;
  right: 3px;
  width: 27px;
  height: 32px;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5) );
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5) );
}

.catalog-item-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.catalog-item-button {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  text-align: center;
}

.catalog-item-button .btn {
  min-width: 194px;
  max-width: 200px;
  width: 21vw;
  padding-left: 0;
  padding-right: 0;

}

.pagination {
  padding-top: 42px;
  padding-left: 0;
  padding-bottom: 31px;
  text-align: right;
}

.pagination-prev,
.pagination-page,
.pagination-next,
.pagination-prev-link,
.pagination-page-link,
.pagination-next-link {
  display: inline-block;
  vertical-align: middle;
}

.pagination-prev-link,
.pagination-page-link,
.pagination-next-link {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
}

.pagination-prev {
  margin-right: 16px;
}

.pagination-prev,
.pagination-next {
  position: relative;
  width: 8px;
  height: 25px;
}

.pagination-next {
  margin-left: 13px;
}

.pagination-prev-link,
.pagination-next-link {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  width: 8px;
  height: 8px;
  border: 2px solid #ffffff;
  border-top-style: none;
  border-right-style: none;
}

.pagination-prev-link {
  --webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 2px;
}

.pagination-next-link {
  --webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  left: -4px;
}

.pagination-prev-link.disabled,
.pagination-next-link.disabled {
  border-color: rgba(255, 255, 255, 0.2);
  cursor: default;
  pointer-events: none;
}

.pagination-page {
  margin-right: 3px;
}

.pagination-page-link {
  width: 26px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.pagination-page-link.active {
  color: #323232;
  background-color: #fff;
  pointer-events: none;
}

.pagination-page-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.seo {
  margin-left: 2.25%;
  margin-right: 2.25%;
  margin-bottom: 40px;
  padding: 24px 20px;  
  color: #323232;
  background: #ecdfc4 url("../img/wafer-bg.jpg");
  border-radius: 15px;
}

.seo-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.seo-content {
  font-size: 0;
  padding-left: 0;
}

.seo-content-manufacturing,
.seo-content-providers,
.seo-content-materials,
.seo-content-delivery {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48.64%;
  padding-top: 22px;
  padding-left: 56px;
  box-sizing: border-box;
}

.seo-content li:nth-of-type(odd) {
  margin-right: 2.6%;
}

.seo-content .seo-text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

.seo-content-manufacturing .icecream-icon,
.seo-content-providers .cow-icon,
.seo-content-materials .leaf-icon,
.seo-content-delivery .thermometer-icon {
  position: absolute;
  left: 0px;
  top: 9px;
  width: 48px;
  height: 48px;
}

.blog-news {
  padding-top: 22px;
  padding-bottom: 81px;
  color: #323232;
  background: #fff url("../img/strawberry-bg.png") no-repeat top right;
}

.blog-news-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-news-text {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.blog-news-text-link {
  color: #000;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.blog-news-text-link:hover {
  color: #e84d37;
}

.subscribe-wrapper {
  padding: 0.5%;
  width: 47.86%;
  background-image: repeating-linear-gradient(
    135deg,
    #f8f7f4,
    #f8f7f4 7px,
    #94ceff 7px,
    #94ceff 14px,
    #f8f7f4 14px,
    #f8f7f4 21px,
    #fe9e90 21px,
    #fe9e90 28px
  );
}

.subscribe {
  background-color: #f8f7f4;
  padding: 28px 20px 15px;
  border-radius: 11px;
}

.subscribe-text {
  margin-top: 0;
  min-height: 86px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe-form {
  position: relative;
  padding-right: 140px;
}

.subscribe-form-button {
  position: absolute;
  top: -1px;
  right: 0;
}

.subscribe-form-button .btn {
  padding-left: 1.1em;
  padding-right: 1.1em;
}

.contacts {
  position: relative;
  margin-bottom: 20px;
  height: 428px;
  font-size: 0;
}

.contacts-map {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0;
  background: #f7f1d9 url("../img/contacts-map.png") no-repeat center center;
  background-size: cover;
}

.contacts-info {
  position: absolute;
  top: -366px;
  right: 0px;
  margin-right: 2.25%;
  padding: 29px 25px 25px;
  width: 252px;
  min-height: 252px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
}

.contacts-info strong {
  font-size: 18px;
  line-height: 24px;
}

.contacts-text {
  overflow-y: auto;
  margin-top: 0;
  margin-bottom: 24px;
  height: 177px;
  text-align: left;
}

.contacts-text .contacts-address {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 18px;
}

.contacts-text .contacts-phone {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 2px;
}

.contacts-info .btn {
  padding-left: 25px;
  padding-right: 25px;
}

.main-footer {
  padding-bottom: 15px;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.main-footer ul {
  font-size: 13px;
  line-height: 18px;
}

.footer-social,
.footer-nav,
.footer-copyright {
  position: relative;
}

.footer-social {
  margin-left: 2.25%;
  margin-right: 0%;
}

.footer-social .social-btn-list {
  padding-top: 20px;
  padding-left: 4px;
  width: 185px;
  font-size: 0;
}

.footer-social .social-btn-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 17px;
}

.footer-social .social-btn-item:last-child {
  margin-right: 0;
}

.footer-nav {
  padding-top: 13px;
  width: 346px;
}

.footer-nav .heart {
  font-weight: bold;
}

.footer-nav .heart-icon {
  position: absolute;
  left: 1px;
  top: 5px;
  width: 15px;
  height: 13px;
}

.footer-nav-list {
  margin: 0;
  padding: 0;
}

.footer-nav-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 23px;
  line-height: 22px;
}

.footer-nav-item-odd {
  width: 117px; 
}

.footer-copyright {
  width: 191px;
  margin-right: 2.25%;
  text-align: right;
}

.footer-copyright-img {
  vertical-align: top;
  margin-right: 80px;
  margin-bottom: 4px;
  width: 108px;
}

.footer-copyright-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright-link {

}

/* Всплывающая форма */
@keyframes bounce {
  0%   {
    --webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70%  {
    --webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  90%  {
    --webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    --webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    --webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    --webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    --webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.feedback-popup {
  position: fixed;
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -237px;
  width: 478px;
  min-height: 405px;
  color: #000;
}

.feedback-popup::before {
  content: "";
  position: fixed;
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.feedback-popup .feedback-form {
  position: relative;
  z-index: 20;
  padding: 16px 25px 22px 24px;
  background: #f8f7f4;
  border-radius: 10px;
}

.feedback-popup .input-default {
  width: 62.5%;
}

.feedback-popup textarea.input-default {
  width: 100%;
  min-height: 155px;
  resize: none;
}

.feedback-popup textarea.input-default + .label-box label {
  top: -154px;
}

.feedback-popup-show {
  display: block;
}

.feedback-popup-bounce {
  --webkit-animation: bounce .6s;
  animation: bounce .6s;
}

.feedback-popup-error {
  --webkit-animation: shake .6s;
  animation: shake .6s;
}

.feedback-popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.feedback-popup-close:focus {
  outline: 0;
}

.feedback-popup-close:hover {
  opacity: 0.8;
  cursor: pointer;
}

.feedback-popup-close:before,
.feedback-popup-close:after {
  content: " ";
  position: absolute;
  left: 9px;
  top: -2px;
  width: 2px;
  height: 23px;
  background-color: #333;
}

.feedback-popup-close:before {
  --webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.feedback-popup-close:after {
  --webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.feedback-title {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
