@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: local('Roboto'),
    url('../fonts/roboto.woff') format('woff'),
    url('../fonts/roboto.woff2') format('woff2');
  
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('Roboto'),
    url('../fonts/robotomedium.woff') format('woff'),
    url('../fonts/robotomedium.woff2') format('woff2');
}

/* GENERAL STYLES */
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

h3 {
  font-size: 35px;
  line-height: 1em;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}

.link-default {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link-default:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.link-white {
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.link-white:hover {
  color: #e84d37;
  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.63em;
  padding-bottom: 0.63em;
  padding-left: 1.24em;
  padding-right: 1.24em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  color: #fff;
  border: 0;
}

.btn-red {
  background-color: #ed5a3d;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, .54);
}

.btn-red:hover {
  position: relative;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 1px 2px #ac1000;
}

.btn-red:active {
  color: #fceeec;
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.btn-big {
  font-size: 32px;
  padding-bottom: 0.67em;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
}

.btn-big:hover {
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.btn-big:active {
  box-shadow: inset 0 2px 2px #942718;
}

.btn-tight {
  border-radius: 60px/75px;
}

.social-btn {
  display: block;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: padding-box;
  opacity: 0.8;
}

.social-btn:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-btn:active {
  border: 3px solid rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 2px 1px #888;
  opacity: 0.8;
}

.social-btn-twit {
  background-image: url("../img/social/social-btn-twit.png");
}

.social-btn-inst {
  background-image: url("../img/social/social-btn-inst.png");
}

.social-btn-fb {
  background-image: url("../img/social/social-btn-fb.png");
}

.social-btn-vk {
  background-image: url("../img/social/social-btn-vk.png");
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* END GENERAL STYLES */


/* GENERAL FORM STYLES */
.input-field {
  margin-bottom: 20px;
}

.input-default {
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  height: 44px;
  outline: 0;
}

.input-default:hover,
.input-default:focus {
  padding: 10px 14px;
  border-width: 2px;
}

.input-default:focus {
  border-color: rgba(46,136,228, 0.52);
}

.label-box {
  position: relative;
}

.label-box label {
  position: absolute;
  top: -34px;
  left: 14px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  pointer-events: none;
  cursor: text;
  transition-duration: 0.2s;
}

.input-default:focus ~ .label-box label,
/*.input-default:valid ~ .label-box label,*/
.input-default:not([value=""]) ~ .label-box label {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  transform: translateY(-25px);
}

.input-default:not(:focus) ~ .label-box label {
  color: #999999;
}
/* END GENERAL FORM STYLES */

.inner-page {
  transition: background 0.5s ease-in;
}

.inner-page-wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.main-header {
  padding-top: 9px;
}

.container {
  position: relative;
  padding-left: 2.25%;
  padding-right: 2.25%;
  font-size: 0;
}

.header-logo {
  float: left;
  margin-left: -6px;
  width: 154px;
  height: 64px;
}

.header-nav {
  float: left;
}

.header-menu {
  padding: 0;
  margin-top: 14px;
  margin-left: 16px;
  font-size: 0;
}

.menu-item {
  position: relative;
  display: inline-block;
  vertical-align: top;  
}

.menu-item.active {
  background-color: #d07058;  
}

.menu-item .menu-item-link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding: 7px 14px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
}

.menu-item .menu-item-link::after {
  content: "";
  display: block;
  margin-top: -1px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-item:hover .menu-item-link {
  color: #333333;
  background-color: #ffffff;
  border: 0;
}

.menu-item:hover .menu-item-link::after {
  content: none;
}

.menu-item:hover .menu-item-link:active {
  color: #333333;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.menu-item:hover .header-submenu {
  display: block;
}

.header-submenu {
  display: none;
  position: absolute;
  left: -6px;
  padding-left: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  z-index: 2;
}

.header-submenu::before {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  width: 100%;
  height: 5px;
}

.header-submenu .latest {
  font-weight: bold;
}

.header-submenu .latest::after {
  content: "";
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 9px;
  margin-right: 9px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.submenu-item {
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.submenu-item-link {
  display: block;
  padding: 6px 21px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  white-space: nowrap;
}

.submenu-item-link:hover {
  background-color: #fbded7;
}

.submenu-item-link:active {
  background-color: #f6b5a5;
}

.header-actions {
  float: right;
  margin-top: 14px;
  font-size: 0;
}

.header-actions span {
  font-size: 14px;
  line-height: 32px;
}

.header-action {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  margin-right: 10px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 16px;
  cursor: pointer;
}

.header-action::before {
  content: "";
  display: block;
  position: absolute;
}

.header-action.search:hover,
.header-action.login:hover,
.header-action.full-cart:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.header-action.search {
  width: 32px;
}

.header-action.login {
  padding-left: 44px;
  padding-right: 16px;;
}

.header-action.cart {
  padding-left: 44px;
  padding-right: 34px;
  margin-right: 0;
}


.header-action.search::before {
  width: 17px;
  height: 17px;
  top: 7px;
  left: 7px;
  background: url('../img/icons/search-icon.png');
}

.header-action.search:hover::before {
  width: 17px;
  height: 17px;
  top: 7px;
  left: 7px;
  background: url('../img/icons/search-hover-icon.png');
}

.header-action.login::before {
  width: 21px;
  height: 19px;
  top: 6px;
  left: 16px;
  background: url('../img/icons/login-icon.png');
}

.header-action.login:hover::before {
  width: 21px;
  height: 19px;
  top: 6px;
  left: 16px;
  background: url('../img/icons/login-hover-icon.png');
}

.header-action.empty-cart {
  cursor: default;
}

.header-action.empty-cart::before {
  width: 21px;
  height: 19px;
  top: 6px;
  left: 16px;
  background: url('../img/icons/cart-empty-icon.png');
}

.header-action-cart.full-cart::before {
  width: 21px;
  height: 19px;
  top: 6px;
  left: 16px;
  background: url('../img/icons/cart-full-icon.png');
}

.header-action:hover .search-form,
.header-action:hover .login-form,
.header-action:hover .cart-popup {
  display: block;
}

.header-action .search-form,
.header-action .login-form,
.header-action .cart-popup {
  position: absolute;
  display: none;
  top: 36px;
  right: -2px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  z-index: 2;
}

.header-action .search-form {
  width: 314px;
  padding: 20px 15px 0;
}

.header-action .login-form {
  width: 241px;
  padding: 20px 17px 19px 19px;
}

.header-action .search-form::before,
.header-action .login-form::before,
.header-action .cart-popup::before {
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  width: 100%;
  height: 10px;
}

.header-action label {
  font-size: 14px;
  font-weight: normal;
}

.login-links {
  text-align: left;
  margin-top: 3px;
  width: 121px;

}

.login-links .link-white {
  font-size: 13px;
  line-height: 0px;
}

.schedule-and-phone {
  position: absolute;
  top: 64px;
  right: 2.25%;
  font-weight: bold;
  text-align: right;
}

.schedule-and-phone .schedule {
  font-size: 14px;
  line-height: 16px;
}

.schedule-and-phone .phone {
  line-height: 18px;
  font-size: 22px;
}

.main-content {
  position: relative;
  margin-bottom: 20px;
}

.slider {
  padding-top: 319px;
  width: 690px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 41px;
  text-align: center;
}

.slider input[type=radio] {
    display: none;
}

.slider-controls {
  position: absolute;
  left: 0;
  bottom: 22px;
  margin-left: 2.25%;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin-right: 8px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
}
.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-inner > div {
  display: none;
}

#brulee-and-raspberry:checked ~ .inner-page label[for="brulee-and-raspberry"],
#chocolate-and-lemon:checked ~ .inner-page label[for="chocolate-and-lemon"],
#cream-and-strawberry:checked ~ .inner-page label[for="cream-and-strawberry"] {
    background-color: #fff;
}

#brulee-and-raspberry:checked ~ .inner-page .slide-brulee-and-raspberry,
#chocolate-and-lemon:checked ~ .inner-page .slide-chocolate-and-lemon,
#cream-and-strawberry:checked ~ .inner-page .slide-cream-and-strawberry {
    display: block;
}

#brulee-and-raspberry:checked ~ .inner-page {
  background-color: #849d8f;
}

#chocolate-and-lemon:checked ~ .inner-page {
  background-color: #8996a6;
}

#cream-and-strawberry:checked ~ .inner-page {
  background-color: #9d8b84;
}

#brulee-and-raspberry:checked ~ .inner-page .inner-page-wrapper {
  background-color: transparent;
  background-image: url("../img/slider/brulee-and-raspberry-bg.png");
}

#chocolate-and-lemon:checked ~ .inner-page .inner-page-wrapper {
  background-color: transparent;
  background-image: url("../img/slider/chocolate-and-lemon-bg.png");
}

#cream-and-strawberry:checked ~ .inner-page .inner-page-wrapper {
  background-color: transparent;
  background-image:  url("../img/slider/cream-and-strawberry-bg.png");
}

.slide-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-raspberry {
  background-image: url("../img/banners/raspberry-bg.jpg");
}

.banner-chocolate {
  background-image: url("../img/banners/chocolate-bg.jpg");
}

.banner-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.banner-text {
  min-height: 70px;
  margin-top: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.inner-columns {
  margin-bottom: 40px;
}

.inner-column-left,
.inner-column-right {
  float: left;
  width: 45.56%;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 1.65%;
  padding-right: 1.65%;
  border-radius: 15px;
}

.inner-column-left {
  margin-right: 2.28%;
}


.hit-items {
  margin-bottom: 27px;
  font-size: 0;
}

.hit-items .catalog-item-image::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background: transparent url("../img/hit-label.png") no-repeat center;
  z-index: 1;
}

.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 23.3%;
  margin-right: 2.2673%;
}

.catalog-item::after {
  content: "";
  display: none;
  position: absolute;
  top: -7px;
  left: -13px;
  width: 109.5%;
  height: 104%;
  border-radius: 5px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .1);
  z-index: 2;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover::after,
.catalog-item:hover .catalog-item-button {
  display: block;
}

.catalog-item-image {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 13px;
  padding: 0;
  z-index: 3;
}

.catalog-item-image-link,
.catalog-item-image-link:hover {
  display: block;
  position: relative;
  min-height: 200px;
  max-height: 267px;
  height: 22.25vw;
  border: 0;
}

.catalog-item-price {
  position: absolute;
  bottom: 19px;
  margin: 0;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.catalog-item-price span {
  position: relative;
  font-size: 45px;
  padding-right: 35px;
}

.catalog-item-price span::after {
  content: "";
  position: absolute;
  display: block;
  top: 11px;
  right: 0;
  width: 31px;
  height: 36px;
  background: transparent url("../img/icons/rub-icon.png") no-repeat top;
}

.catalog-item-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  z-index: 3;
}

.catalog-item-button {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}


.seo {
  padding: 24px 20px;  
  margin-bottom: 40px;
  color: #323232;
  background: #ecdfc4 url("../img/wafer-bg.jpg");
  border-radius: 15px;
}

.seo-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.seo-content {
  font-size: 0;
  padding-left: 0;
}

.seo-content-manufacturing,
.seo-content-providers,
.seo-content-materials,
.seo-content-delivery {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48.64%;
  padding-top: 22px;
  padding-left: 56px;
  box-sizing: border-box;
}

.seo-content li:nth-of-type(odd) {
  margin-right: 2.6%;
}

.seo-content .seo-text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

.seo-content .seo-text::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 9px;
  width: 49px;
  height: 49px;
  background-color: transparent;
}

.seo-content-manufacturing .seo-text::before {
  background-image: url("../img/icons/icecream-icon.png");
}

.seo-content-providers .seo-text::before {
  background-image: url("../img/icons/cow-icon.png");
}

.seo-content-materials .seo-text::before {
  background-image: url("../img/icons/leaf-icon.png");
}

.seo-content-delivery .seo-text::before {
  background-image: url("../img/icons/thermometer-icon.png");
}

.blog-news {
  padding-top: 22px;
  padding-bottom: 81px;
  color: #323232;
  background-color: #fff;
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
  background-position: 206px 0px;
}

.blog-news-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-news-text {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.blog-news-text-link {
  color: #000;
  text-decoration: underline;
  border: 0;
}

.blog-news-text-link:hover {
  color: #e84d37;
}

.subscribe-wrapper {
  padding: 0.5%;
  width: 47.86%;
  background-image: repeating-linear-gradient(
    135deg,
    #f8f7f4,
    #f8f7f4 7px,
    #94ceff 7px,
    #94ceff 14px,
    #f8f7f4 14px,
    #f8f7f4 21px,
    #fe9e90 21px,
    #fe9e90 28px
  );
}

.subscribe {
  background-color: #f8f7f4;
  padding: 28px 20px 15px;
  border-radius: 11px;
}

.subscribe-text {
  margin-top: 0;
  font-size: 16px;
  line-height: 22px;
  min-height: 86px;
  color: #5a5a5a;
}

.subscribe-form {
  position: relative;
  padding-right: 140px;
}

.subscribe-form-button {
  position: absolute;
  top: -1px;
  right: 0;
}

.subscribe-form-button .btn {
  padding-left: 1.1em;
  padding-right: 1.1em;
}

.contacts {
  position: relative;
  height: 428px;
  font-size: 0;
}

.contacts-map {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0;
  background: transparent url("../img/contacts-map.jpg") no-repeat 0 0;
}

.contacts-info {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 252px;
  min-height: 252px;
  padding: 29px 25px 25px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fff;
  border-radius: 15px;
}

.contacts-info strong {
  font-size: 18px;
  line-height: 24px;
}

.contacts-info .contacts-address {
  margin-top: 0;
  margin-bottom: 18px;
}

.contacts-info .contacts-phone {
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 24px;
}

.contacts-phone-link {
  color: #323232;
  line-height: 22px;
}

.contacts-info .btn {
  padding-left: 1.54em;
  padding-right: 1.54em;
}


.main-footer {
  padding-bottom: 15px;
}

.main-footer ul {
  font-size: 13px;
  line-height: 18px;
}

.footer-social,
.footer-nav,
.footer-copyright {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
}

.footer-social {
  width: 32.9%;
}

.footer-social .social-btn-list {
  font-size: 0;
  padding-top: 17px;
  padding-left: 1px;
}
.footer-social .social-btn-item {
  display: inline-block;
  margin-right: 11px;
}

.footer-nav {
  margin-top: 13px;
  margin-right: 5%;
  width: 38.5%;
}

.footer-nav .heart-icon {
  font-weight: bold;
}

.footer-nav .heart-icon::before {
  content: "";
  position: absolute;
  /*
  content: "\2764";
  font-size: 16px;
  left: 0px;
  top: 1px;
  */
  left: 1px;
  top: 5px;
  width: 15px;
  height: 13px;
  background-image: url("../img/icons/heart-icon.png");
}

.footer-nav-list {
  margin: 0;
  padding: 0;
}

.footer-nav-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  margin-left: 22px;
  margin-bottom: 0;
  width: 117px;
  line-height: 22px;
}
.footer-nav-item:nth-of-type(even) {
  width: 50%;
}

.footer-copyright {
  width: 21.6%;
  margin-right: 0;
  text-align: right;
}

.footer-copyright-img {
  vertical-align: top;
  margin-right: 79px;
  margin-bottom: 4px;
  width: 108px;
}

.footer-copyright-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright-link {

}

/* Всплывающая форма */

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 10;
}

.overlay-show {
  display: block;
}

.feedback-popup {
  position: fixed;
  display: none;
  top: 120px;
  left: 50%;
  width: 428px;
  min-height: 405px;
  margin-left: -237px;
  color: #000;
  animation: bounce .6s;
}

.feedback-popup::before {
  content: "";
  position: fixed;
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.feedback-popup .feedback-form {
  position: relative;
  z-index: 20;
  padding: 16px 25px 22px 24px;
  background: #f8f7f4;
  border-radius: 10px;
}

.feedback-popup .input-default {
  width: 62.5%;
}

.feedback-popup textarea.input-default {
  width: 100%;
  min-height: 155px;
  resize: none;
}

.feedback-popup textarea.input-default + .label-box label {
  top: -154px;
}

.feedback-popup-show {
  display: block;
  /*animation: bounce .6s;*/
}

.feedback-popup-error {
  animation: shake .6s;
}

.feedback-popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.feedback-popup-close:focus {
  outline: 0;
}

.feedback-popup-close:hover {
  opacity: 0.8;
  cursor: pointer;
}

.feedback-popup-close:before,
.feedback-popup-close:after {
  content: ' ';
  position: absolute;
  left: 9px;
  top: -2px;
  height: 23px;
  width: 2px;
  background-color: #333;
}

.feedback-popup-close:before {
  transform: rotate(45deg);
}

.feedback-popup-close:after {
  transform: rotate(-45deg);
}

.feedback-title {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
